header {
  @include outer-container;
  section {
    @include span-columns(12);
    h1 {
      @include span-columns(7);
      @include shift(2);
      font-size: 14em;
      line-height: 0.6em;
    }
  }

}

section {
  @include outer-container;
  @include pad(5em 0 0 0);
  div.alpha {
    font-size:
    em(20);
    @include
    span-columns(9);
    section {
      @include
      pad(0);

    }
  }

  div.beta {
    @include
    span-columns(3);
    section {
      @include
      pad(0);

    }
  }
}

a {
  color:
  #CC342D;
}
.rubyRed{
  color:
  #CC342D;
}

.emberOrange{
  color:
  #f23818;
}
