header {
  @include outer-container;
  section {
    @include span-columns(12);
    h1 {
      @include span-columns(7);
      @include shift(2);
      font-size: 14em;
      line-height: 0.6em;
    }
  }

}

section {
  @include outer-container;
  @include pad(5em 0 0 0);
  div {
    @include
    span-columns(7);
    @include
    shift(2);
    section {
      @include
      pad(0);

    }
  }
  font-size:
  em(20);
}

.rubyRed{
  color:
  #CC342D;
}

.emberOrange{
  color:
  #f23818;
}
