---
title: 52 Pairs
---
      <p>Hi, I'm <strong>Tom</strong> a <strong class="rubyRed">Ruby</strong> 
      developer from <strong>Brisbane, Australia</strong>
      and this year I'm looking to pair with 52 different developers 
      to improve myself professionally and personally.</p>

      <p>In return I'll be sharing what I've learned with the community through 
      a series of blog posts</p>

      <p>I'm looking to level-up across all facets of development, 
      however I'm pretty partial to the following:
      <ul>
        <li class="rubyRed"><strong>Ruby</strong></li>
        <li class="emberOrange"><strong>ember.js</strong></li>
      </ul>
      </p>
      <p>But if you'd like to pair on <strong>something else</strong> 
      with me and show me the light, that'd be awesome too!</p>

      <p>If you're interested in pairing with me on a project you're working on 
      or even just have an awesome technique to share, and have an hour or two up your sleeve,
      please contact me at <%= mail_to('info@52pairs.com') %>
     so we can find a time that suits.</p>

