---
title: 52 Pairs
---
      <p>Hi, I'm <strong>Tom</strong> a <strong class="rubyRed">Ruby</strong> 
      developer from <strong>Brisbane, Australia</strong>
      and I'm looking to pair with 52 different developers 
      to improve myself professionally and personally.</p>

      <p>In return I'll be sharing what I've learned with the community through 
      a series of blog posts</p>

      <p>I'm looking to level-up across all facets of development, 
      however I'm pretty partial to the following:
      <ul>
        <li class="rubyRed"><strong>Ruby</strong></li>
        <li class="emberOrange"><strong>ember.js</strong></li>
      </ul>
      </p>
      <p>But if you'd like to pair on <strong>something else</strong> 
      with me and show me the light, that'd be awesome too!</p>

      <p>If you're interested in pairing with me on a project I'm working on, 
      want a hand with yours or even just have an awesome technique to share, 
      and have a couple hours up your sleeve, 
      please contact me at <%= mail_to('info@52pairs.com') %> so we can find a time that suits.</p>
      
      <h3>F.A.Q</h3>
      <p><strong>Is 2-3 hours enough time?</strong></p>
      <p>If you're looking to pair with me on a project you're working on, 
      <strong>probably not</strong>, but I'm more than happy to have repeat sessions
      over the course of a few weeks to give you a return on your time investment.</p>
      <p>If you're working with me on one of my projects, it's a little easier 
      to constrain the scope of the work, so we don't need as much spinning up time.</p>

      <p><strong>What editor do you use?</strong></p>
      <p>I currently use RubyMine, but I try to be editor agnostic, and am more
      than happy to improve my vim skills :)</p>

      <p><strong>How will we pair?</strong></p>
      <p>I have access to screenhero, and can invite you so we can pair that way,
      alternatively if you'd like to use tmux and skype, we can do that too</p>

     



